@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.foto{
    width: 200px; /* sets the image width to 100% of its parent element */
    height: auto
}

.header-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-image: url('https://i.pinimg.com/originals/de/0a/68/de0a684ddb207800849ebfc5dd0b90ce.jpg');
    background-size: cover; /* Optional: resize the background image to cover the entire element */
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.logo
{
    cursor: pointer;
}

.links
{
    list-style: none;
}
.links li
{
    display: inline-block;
    padding: 0px 20px;
}

.links li a{
    transition: all 0.3s ease 0s;
}

.links li a:hover{
   color: #0088a9
}

button
{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover
{
    background-color: rgba(0,136,169,0.8);
}

.cart{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
