@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1 ;
    text-decoration: none;
    background-image: url('https://i.pinimg.com/originals/de/0a/68/de0a684ddb207800849ebfc5dd0b90ce.jpg');
    background-size: cover; /* Optional: resize the background image to cover the entire element */
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.admin-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.admin-btn {
    transition: all 0.3s ease 0s;
    color: #edf0f1;
}

.admin-btn:hover {
    color: #0088a9;
}

.edit-form {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    width: 50%;
    float: left;
}

.input-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.submit {
    padding: 10px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.submit:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
label[for="user_id"] {
    color: #fff; /* Set the label color to white */
}
.input-text::placeholder
{
    color: #edf0f1;
}
/*Drop down*/

select {
    padding: 8px 10px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #333;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-512.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

/* Style for option elements */
select option {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #333;
    background-color: #fff;
    border: none;
    padding: 10px;
}

/* Style for selected option */
select option:checked {
    background-color: #0088a9;
    color: #fff;
}

table th {
    padding: 0.5em 1em;
}



